{% extends 'base.html.twig' %}

{% block title %}Страница не найдена{% endblock %}

{% block body %}

	
<h1>404 Страница не найдена</h1>

<p>Попробуйте   <a href="{{ path('homepage') }}">перейти на главную</a></p>	
	
{% endblock %}
