RewriteEngine On


# редиректы 

# категории маршрутов (переехали на статичные страницы с вызовом контроллера)
RewriteRule ^(.*)cruise/categoryroutes/(.*)\.html$ $1/cruise/$2 [R=301,L]
# детальное описание круиза (упростили путь и отказались от теплохода в маршруте)
RewriteRule ^(.*)cruise/cruisedetails/(.*)_(\d*)\.html$ $1/cruise/$3 [R=301,L]
# теплоходы 
RewriteRule ^(.*)cruise/ship/(.*)\.html$ $1/ships/$2 [R=301,L]
# спецтарифы 
RewriteRule ^(.*)specialoffer/burningcruise.html $1/specialoffers/happy [R=301,L]
RewriteRule ^(.*)specialoffer/specialoffer.html $1/specialoffers/special [R=301,L]

RewriteRule ^(.*)cruise/88(\d*)$ $1/cruise/100$2 [R=301,L]
RewriteRule ^(.*)cruise/99(\d*)$ $1/cruise/2$2 [R=301,L]


#месяца 
Redirect 301 /cruise/month/1522530000.html  /cruise/month/2018-04
Redirect 301 /cruise/month/1525122000.html  /cruise/month/2018-05
Redirect 301 /cruise/month/1527800400.html  /cruise/month/2018-06
Redirect 301 /cruise/month/1530392400.html  /cruise/month/2018-07
Redirect 301 /cruise/month/1533070800.html  /cruise/month/2018-08
Redirect 301 /cruise/month/1535749200.html  /cruise/month/2018-09
Redirect 301 /cruise/month/1538341200.html  /cruise/month/2018-10
Redirect 301 /cruise/month/1541019600.html  /cruise/month/2018-11
Redirect 301 /cruise/month/1469998800.html  https://www.rech-agent.ru/
Redirect 301 /cruise/month/1475269200.html  https://www.rech-agent.ru/
Redirect 301 /cruise/month/1490994000.html  https://www.rech-agent.ru/
Redirect 301 /cruise/month/1501534800.html  https://www.rech-agent.ru/
Redirect 301 /cruise/month/1504213200.html  https://www.rech-agent.ru/
Redirect 301 /cruise/month/1506805200.html  https://www.rech-agent.ru/
Redirect 301 /cruise/month/1509483600.html  https://www.rech-agent.ru/

Redirect 301 /cruise/river/kama.html        /cruise/kruizy-po-kame
Redirect 301 /cruise/river/kovzha.html      /cruise/
Redirect 301 /cruise/shipclass/4            https://www.rech-agent.ru/
Redirect 301 /cruise/sol                    https://www.rech-agent.ru/
Redirect 301 /cruise/vol                    https://www.rech-agent.ru/
Redirect 301 /derevna_mandrogi.html         /info/ports_and_pirs/mandrogi
Redirect 301 /sheksninskij_ples.html        /info/ports_and_pirs/ples
Redirect 301 /ships/aleksandr-radishchev    /ships/radishchev
Redirect 301 /ships/nizhniy-novgorod        /ships/nnovgorod      
Redirect 301 /ships/g_v_-plehanov           https://www.rech-agent.ru/
Redirect 301 /ships/mihail-sholohov         https://www.rech-agent.ru/
Redirect 301 /ships/mihail-tanich           https://www.rech-agent.ru/
Redirect 301 /ships/shashkov                https://www.rech-agent.ru/
Redirect 301 /cruise/4                      https://www.rech-agent.ru/
Redirect 301 /cruise/4968                   https://www.rech-agent.ru/
Redirect 301 /cruise/4979                   https://www.rech-agent.ru/
Redirect 301 /cruise/9                      https://www.rech-agent.ru/
Redirect 301 /cruise/kam                    /cruise/kruizy-po-kame
Redirect 301 /cruise/settlement/moskva.html  /info/ports_and_pirs/moskva
Redirect 301 /cruise/settlement/murom.html   /info/ports_and_pirs/murom


Redirect 301 /cruise/alphabetlist  /ships

#отправление из
RewriteRule ^(.*)cruise/placestart/(.*)\.html$ $1/cruise-from/$2 [R=301,L]



RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L] 

RewriteCond %{HTTP_HOST} !^www\.(.*) [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1  [R=301,L]

RewriteCond %{THE_REQUEST} /index.html
RewriteRule (.*)$ / [R=301,L]

RewriteCond %{REQUEST_URI} !^web/.*$
RewriteRule ^(.*)$ web/$1 [QSA,L]





php_value max_file_uploads 50




AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "public"
#Header set Expires "Fri, 23 Dec 2016 20:00:00 GMT"
FileETag None
</FilesMatch>


<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 10 days"
ExpiresByType js/javascript "access plus 1 months"
ExpiresByType css/css "access plus 1 months"
ExpiresByType img/png "access plus 1 months"
ExpiresByType img/jpg "access plus 1 months"
ExpiresByType img/icon "access 1 months"
ExpiresByType diagram/gif "now”
</IfModule>

