#dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
    
    /*width: 400px;*/
    padding: 50px 0;
    margin: 50px auto;
    
    background: #eee;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #eee;
    border-color: #0f0;
}

#dropZone div {
	margin-bottom:30px;
}

#dropZone div input {
	font-size:12px;
}

#dropZone div img {
	margin: 10px auto;
}

.admin-thumb {
	border:1px solid #aaa;
	border-radius:5px;
	padding: 10px 0;
}
 
.nav-list {

	padding-left:15px;
} 

.nav-list li {
		padding:10px;
		display:block;
}

.nav-list span.name {
	display:block;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#f00 0,#222 100%);
    background-image: -o-linear-gradient(top,#f00 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f00),to(#222));
    background-image: linear-gradient(to bottom,#f00 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
}

.navbar-inverse {
    background: #ff8e00;
}
.navbar-inverse {
   /* background: #3cb6da;*/
}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
}

.navbar-inverse {

    border-color: #fff; 
}
